/* Custom Icons */
.icon {
    text-align: center !important;
    width: 10%;
}
.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
    box-shadow: 0 4px rgba(0, 0, 0, 0.0);
    display: inline-block;
}
.icon .click i {
    cursor: pointer;
}
.icon .click i:active{
    box-shadow: 0 0 rgba(0, 0, 0, 0.0);
    transform: translateY(4px);
}
.icon .red {
    color: red;
}
.icon .green {
    color: #006400;
}
.icon .blue {
    color: #00B0E4;
}
.icon .spin {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
